[submodule "libutp"]
	path = libutp
	url = ../libutp
[submodule "libbtdht"]
	path = libbtdht
	url = ../libbtdht
[submodule "Libevent"]
	path = Libevent
	url = ../Libevent
[submodule "libsodium"]
	path = libsodium
	url = ../libsodium
