[submodule "libutp"]
	path = libutp
	url = https://github.com/clostra/libutp
[submodule "Libevent"]
	path = Libevent
	url = https://github.com/clostra/Libevent
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "blocksruntime"]
	path = blocksruntime
	url = https://github.com/mackyle/blocksruntime.git
[submodule "dht"]
	path = dht
	url = https://github.com/clostra/dht
[submodule "libunwind-ndk"]
	path = libunwind-ndk
	url = https://github.com/ivanarh/libunwind-ndk.git
