<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.clostra.newnode">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" android:required="false"/>
    <application>
        <activity android:name=".internal.PermissionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <receiver android:name=".internal.NearbyHelper.BatteryLevelReceiver" android:exported="true">
          <intent-filter>
            <action android:name="android.intent.action.BATTERY_LOW"/>
            <action android:name="android.intent.action.BATTERY_OKAY"/>
          </intent-filter>
        </receiver>
    </application>
</manifest>
